<div class="container">
 <div class="row">
  <div class="col-lg-6 mx-auto">
  <h1>User info</h1>
   <div class="error-message">
   <% if @user.errors.any? %>
    <%= @user.errors.count %>error prohibited this obj from being saved:
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
   <% end %>
   </div>
  
  <%= form_with model:@user, local: true do |f| %>

  <label for="inputName">Name</label><br/>
    <%= f.text_field :name, autofocus: true, id:"inputName"  %>
  <br/>
  <label for="inputImage">Image</label><br/>
    <%= f.attachment_field :profile_image, id:"inputImage" %>
  <br/>
  <label for="inputIntroduction">Introduction</label><br/>
    <%= f.text_area :introduction, id:"inputIntroduction"  %><br/>

    <%= f.submit "Update User", class:"btn btn-secondary" %>

  <% end %>
  
 </div>
</div>
